.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* text style */
body {
  font-family: "Niramit", sans-serif;
  text-align: center;
  font-size: 30px;
  background-color: #a68a64;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
h1 {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #412c1c;
}

.brand {
  font-size: 45px;
  font-family: "Redressed", cursive;
}

/* nav bar */
.nav-bar {
  font-size: 25px;
  background: linear-gradient(135deg, #582f0e, #cc8759de);
}
.nav-bar image {
  color: white;
}
/* Cortadito */
a.brand.navbar-brand {
  color: white;
}

.navbar-nav .nav-link {
  color: #582f0e;
}

.navbar-light .navbar-brand:hover {
  color: #582f0e;
}

/* Nav links */
.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 20px;
}
.nav-link {
  color: #582f0e;
}

.about {
  background-color: #936639;
  color: white;
  padding: 35px;
}

.about p {
  padding: 20px;
}

.about-cortadito {
  color: white;
}

.about-creators {
  color: #582f0e;
}
h3 {
  font-size: 50px;
}

/* images from about */
svg {
  width: 50%;
}

.aboutpic {
  width: 100%;
  border-radius: 30%;
}

.aboutpic-1 {
  width: 372px;
  border-radius: 30%;
  height: 461.586px;
}

#coffee {
  width: 100px;
}

/* resources images */
.resourceimg {
  width: 100%;
  height: 700px;
  margin-bottom: 50px;
}

footer {
  margin-top: auto;
  width: 100%;
  background: linear-gradient(135deg, #cc8759de, #582f0e);
  border-top: 0.0625em solid lightgrey;
  bottom: 0;
  color: white;
}
footer:before,
footer:after {
  content: "";
  display: table;
  clear: both;
}
footer .footer {
  float: left;
  text-align: center;
  width: 100%;
  padding: 1.25em;
}

/* resources tables */

.mentallink {
  color: white;
}

.container {
  font-size: 18pt;
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  background-color: rgb(75, 39, 6);
  opacity: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 98%;
  transform: translate(-50%, -50%);
}

.resourcedescription {
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 30px;
}

.tabletitle {
  color: #412c1c;
}

.styled-table {
  border-collapse: collapse;
  margin: 5% 10%;
  font-size: 0.7em;
  font-family: sans-serif;
  width: 80%;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #582f0e;
  color: white;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  color: white;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #926d4f;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 1px solid rgb(100, 68, 21);
}

.goog-te-gadget {
  float: right;
  background: linear-gradient(135deg, #c27b4bde, #e09a6bde);
  color: white;
  padding-top: 33px;
  padding-bottom: 38px;
  padding-right: 30px;
}

/* culture page */
div.card-container.card-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
}

/* Form  
 color: white; 
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    margin-top:50%;
    margin: 0 auto;
    position: relative;
*/

.login-wrapper {
  color: white;
  border: rgba(1, 0, 0, 0.15);
  width: 400px;
  margin-top: 5%;
  margin-left: 40%;
  margin-bottom: 0;
  background-color: rgba(127, 79, 36, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  border-radius: 12px;
}
button {
  border-radius: 12px;
  color: white;
  background-color: rgb(100, 68, 21);
  font-size: 22px;
  border: none;
  margin-bottom: 10px;
}
input {
  border-radius: 12px;
  border: 1px solid white;
  color: rgb(100, 68, 21);
}
input:focus {
  color: rgb(100, 68, 21);
}
.form-h1 {
  color: rgb(100, 68, 21);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 4px;
}

.aboutlink {
  color: white;
  text-decoration: underline;
}
.aboutlink:hover {
  color: white;
  text-decoration: none;
}

h3 {
  color: white;
  font-weight: bold;
}
.h1-name {
  color: white;
}
.about-creators {
  color: white;
  font-size: 20px;
  display: flex;
  padding-bottom: 150px;
}
.each-creator {
  background-color: rgba(127, 79, 36, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  width: 40%;
  margin: 10px;
  padding: 10px;
}

/* Community Page colors*/

div.date,
.category {
  background-color: #656d4a !important;
}
.sub_title {
  color: #656d4a !important;
}
.title {
  color: #412c1c;
}
.community-a {
  color: #65604a;
  font-weight: bold;
}
.community-a:hover {
  color: #a4ac86;
  font-size: 18px;
  text-decoration: underline !important;
  font-weight: bolder;
}
