.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**
 * Footer Styles
 */

 footer {
  margin: 0 auto;
  width: 100%;
  background: linear-gradient(135deg, #fe6703de, #b408cd);
  border-top: 0.0625em solid lightgrey;
  bottom: 0;
  color: white;
  height: 5em;
}
footer:before,
footer:after {
  content: "";
  display: table;
  clear: both;
}
footer .footer {
  float: left;
  text-align: center;
  width: 100%;
  padding: 1.25em;
}
/* text style */
body{
  font-family:'Niramit', sans-serif;
  text-align: center;
  font-size: 30px;
  background-color: #A68A64;
}
h1 {
  font-size: 40px;
}

.brand {
  font-size: 40px;
  font-family: 'Redressed', cursive;
}

/* nav bar */
.nav-bar {
  font-size: 25px;
  background-color: #7F4F24;
}
/* Cortadito */
.navbar-light .navbar-brand {
  color: white;
}
/* Nav links */
.navbar-light .navbar-nav .nav-link {
  color: white
}

.about {
    background-color: #A68A64;
    color: white;
}
.mental-health{
  color: white;
}