.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* text style */
body{
  font-family:'Niramit', sans-serif;
  text-align: center;
  font-size: 30px;
  background-color: #A68A64;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
h1 {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.brand {
  font-size: 45px;
  font-family: 'Redressed', cursive;
}

/* nav bar */
.nav-bar {
  font-size: 25px;
  background-color: #7F4F24;
}
.nav-bar image {
  color:white;
}
/* Cortadito */
a.brand.navbar-brand {
  color: white
}

.navbar-nav .nav-link {
  color:#582F0E;
}

.navbar-light .navbar-brand:hover {
  color: #582F0E;
}

/* Nav links */
.navbar-light .navbar-nav .nav-link {
  color: white
}
.nav-link{
  color: #582F0E;
}

.about {
    background-color: #936639;
    color: white;
    padding: 35px;
}

.about p{
  padding: 20px;
}

.about-cortadito{
  color:white;
}

.about-creators{
  color:#582F0E
}
h3 {
  font-size: 50px;
}


/* images from about */
svg{
  width: 50%;
}

.aboutpic {
  width: 20%;
}

#coffee {
  width: 100px;
}

/* resources images */
.resourceimg {
  width: 100%;
  height: 700px;
  margin-bottom: 50px;
}

footer {
  margin-top: auto;
  width: 100%;
  background: linear-gradient(135deg, #fe6703de, #582f0e);
  border-top: 0.0625em solid lightgrey;
  bottom: 0;
  color: white;
  height: 5em;
}
footer:before,
footer:after {
  content: "";
  display: table;
  clear: both;
}
footer .footer {
  float: left;
  text-align: center;
  width: 100%;
  padding: 1.25em;
}



/* resources tables */
.resourcedescription {
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}

.tabletitle {
  color: #412c1c;
}

.styled-table {
  border-collapse: collapse;
    margin: 5% 10%;
    font-size: 0.7em;
    font-family: sans-serif;
    width: 80%;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color:#582F0E;
  color: white;
  text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    color: white;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #926d4f;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 1px solid rgb(100, 68, 21);
}


/* culture page */
.family9 {
  width: 50px;
}